[ req ]
default_bits            = 2048
default_keyfile         = ./private/root.pem
default_md              = sha1
prompt                  = no
distinguished_name      = root_ca_distinguished_name
x509_extensions = v3_ca


[ root_ca_distinguished_name ]
organizationName        = Example Inc
organizationalUnitName  = Issuance Team
commonName              = Device Signing Root CA
emailAddress            = ca@example.com


[ v3_ca ]
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid:always,issuer:always
basicConstraints = CA:true


[ ca ]
default_ca              = CA_default


[ CA_default ]
dir                     = .
new_certs_dir           = ./signed-keys/
database                = ./conf/index
certificate             = ./public/trusted_ca_cert.pem
serial                  = ./conf/serial
private_key             = ./private/key.pem
x509_extensions         = usr_cert
name_opt                = ca_default
cert_opt                = ca_default
default_crl_days        = 30
default_days            = 365
default_md              = sha1
preserve                = no
policy                  = policy_match


[ policy_match ]
organizationName        = supplied
organizationalUnitName  = supplied
commonName              = supplied


[ usr_cert ]
basicConstraints=CA:FALSE
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid:always,issuer:always
nsCaRevocationUrl     = https://www.example.com/example-ca-crl.pem


